<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Jan. 29, 2020</td> <td><a href="http://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell</a> </td> </tr>
      <tr> <td>Feb. 12, 2020</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/">Introduction to Data</a></td> </tr>
      <tr> <td>Mar. 11, 2020</td>  <td><a href="https://datacarpentry.org/sql-ecology-lesson/">Introduction to SQL</a></td> </tr>
      <tr> <td>Mar. 18, 2020</td>  <td><a href="https://librarycarpentry.org/lc-git/">Introduction to Git/Github </a> (PREREQ: For this workshop you need to be familiar with all of the commands taught in <a href="http://swcarpentry.github.io/shell-novice/">this unix shell lesson</a>.) </td> </tr>
      <tr> <td>Apr. 01, 2020</td>  <td>Introduction to GitHub Pages (PREREQ: For this workshop you need to be familiar with all of the commands taught in <a href="http://swcarpentry.github.io/shell-novice/">this unix shell lesson </a> and <a href="http://swcarpentry.github.io/git-novice/">this git/github lesson</a>.) </td> </tr>
      <tr> <td>Apr. 15, 2020</td>  <td><a href="https://carpentries-incubator.github.io/docker-introduction/">Introduction to Docker</a> (PREREQ: For this workshop you need to be familiar with all of the commands taught in <a href="http://swcarpentry.github.io/shell-novice/">this unix shell lesson</a>.)</td> </tr>
      <tr> <td>Apr. 29, 2020</td>  <td><a href="http://swcarpentry.github.io/make-novice/">Automation with Make</a> (PREREQ: For this workshop you need to be familiar with all of the commands taught in <a href="http://swcarpentry.github.io/shell-novice/">this unix shell lesson</a>). </td> </tr>
    </table>
  </div>
</div>
