<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Jan. 29, 2020</td> <td><a href="http://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell</a> </td> </tr>
      <tr> <td>Feb. 12, 2020</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/">Introduction to Data</a></td> </tr>
      <tr> <td>Mar. 11, 2020</td>  <td><a href="https://datacarpentry.org/sql-ecology-lesson/">Introduction to SQL</a></td> </tr>
      <tr> <td>Mar. 18, 2020</td>  <td><a href="https://librarycarpentry.org/lc-git/">Introduction to Git/Github</a></td> </tr>
      <tr> <td>Apr. 01, 2020</td>  <td>Introduction to GitHub Pages</td> </tr>
      <tr> <td>Apr. 15, 2020</td>  <td><a href="https://carpentries-incubator.github.io/docker-introduction/">Introduction to Docker</a></td> </tr>
      <tr> <td>Apr. 29, 2020</td>  <td><a href="http://swcarpentry.github.io/make-novice/">Automation with Make</a></td> </tr>
    </table>
  </div>
</div>
